<section>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-3 filter">
        <app-filter></app-filter>
      </div>
      <div class="col-md-9">
        <h1>Les Différents Produits</h1>
        <div class="results pt-3">
          <p>
            Résultats : <span class="mx-2">{{ articles.length }}</span>
          </p>
          <div class="sort">
            <p>Trier par <i class="arrow fa-solid fa-chevron-down"></i></p>
          </div>
        </div>
        <div class="row">
          <ng-container
            *ngFor="
              let article of articles
                | paginate: { itemsPerPage: 9, currentPage: page }
            "
          >
            <div class="col-md-4">
              <div class="products">
                <div class="card my-3" style="width: 18rem">
                  <img
                    routerLink="product/{{ article.id }}"
                    [src]="article.url"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body bg-dark text-center">
                    <div class="title">{{ article.title }}</div>
                    <div class="price">
                      {{ article.price | currency: "USD" }}
                    </div>
                  </div>
                  <app-button
                    (click)="addToCart(article)"
                    text="ajouter au panier"
                  ></app-button>
                </div>
              </div>
            </div>
          </ng-container>
          <div class="pages">
            <pagination-controls
              class="text-center"
              previousLabel="Précédent"
              nextLabel="Suivant"
              (pageChange)="page = $event"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
