<section>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-3"></div>
      <div class="col-md-9">
        <h1>Les Différents Produits</h1>
        <div class="products">
          <div class="card" style="width: 18rem">
            <img
              src="https://i.postimg.cc/4ynpDKyp/article-1.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body bg-dark text-center">
              <div class="title">T-SHIRT</div>
              <div class="price">39€ 25€</div>
            </div>
            <button>Ajouter au panier</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
