@import '../../../assets/styles/base/colors';
@import '../../../assets/styles/base/typo';

section {
  margin-bottom: 100px;
}

.container {
  h1, .card-body {
    font-family: 'cantarell';
    color: $color-white;
  }
  .results {
    display: flex;
    justify-content: space-between;
  }
  button {
    text-transform: uppercase;
    font-family: 'beyno';
  }
  .card {
    &:hover {
      scale: 1.1;
    }
  }
}