<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img
          class="img-fluid"
          width="100%"
          src="https://i.postimg.cc/rm2b9Wyn/404.jpg"
          alt="404 image"
        />
      </div>
      <div class="col-md-6">
        <h1>ERREUR !!!</h1>
        <h2>PAGE INTROUVABLE.</h2>
        <button (click)="onRedirectHome()">
          Retour vers la page d'accueil
        </button>
        <button (click)="onRedirectEshop()">
          Voir les produits disponibles
        </button>
      </div>
    </div>
  </div>
</section>
