@import '../../../assets/styles/base/colors';
@import '../../../assets/styles/base/typo';

.container {
  width: 80%;
  color: $color-white;
  font-family: 'beyno';
  .row {
    display: flex;
    align-items: center;
    .col-md-6 {
      button {
        // @include btn;
        margin: 5px 0;
      }
    }
  }
}