<section id="hero-index">
  <div class="container">
    <div class="content">
      <h1>black panther</h1>
      <h3>wakanda forever</h3>
      <p>
        En plus d'être un film qui fait la part belle aux héroïnes, Black
        Panther rend hommage aux cultures africaine et afro-américaine. On y
        évoque le racisme, la colonisation et les violences contre les
        afro-américains. Ce film marque toute une génération, “c’est 100%
        africain et c’est parfait”.
      </p>
      <a class="btn-more" href="#target">Voir plus ></a>
    </div>
  </div>
</section>
