@import '../../../assets/styles/base/colors';
@import '../../../assets/styles/base/typo';

#hero-index {
  background-image: url(https://i.postimg.cc/0jHY8nzK/Pantherhome1.png);
  background-position: center right;
  background-size: auto;
  background-repeat: no-repeat;
  min-height: 100vh;
  .content {
    position: absolute;
    top: 40%;
    padding-left: 115px;
    display: flex;
    flex-direction: column;
    width: 40%;
    h1,
    h3 {
      color: $color-snuff;
    }
    h1 {
      font-family: 'panthera';
      font-size: 60px;
    }
    h3 {
      font-family: 'beyno';
      font-size: 35px;
      font-weight: lighter;
      margin-bottom: 20px;
    }
    p {
      font-family: 'Cantarell';
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
}
.btn-more {
  font-family: 'Cantarell';
  color: $color-white;
  font-size: 19px;
  &:hover {
    text-decoration: none;
    color: $color-plum;
    font-size: 20px;
  }
}