<section id="hero-enigme">
  <div class="container">
    <div class="content">
      <h1>releve le defi des dora milaje</h1>
      <div class="presentation">
        <img src="https://i.postimg.cc/5y3xvKBj/Pantherenigme2.png" alt="" />
        <div class="text">
          <p>
            Les Dora Milaje sont de farouches guerrières d’élite. Elles
            constituent la garde rapprochée du Roi en personne et à de
            nombreuses occasions, elles lui ont sauvé la vie. Leur Générale,
            Okoyé est également la dirigeante des forces armées et des
            renseignements wakandais.
          </p>
          <p>
            La réussite de cette évaluation ne dépend pas de la chance mais bel
            et bien de l’entrainement que tu as suivi jusqu’ici ainsi que de ta
            détermination. Relève ce défi et montre-nous que tu es capable de
            porter les valeurs du Black Panther et du Wakanda !
          </p>
          <div class="white-bp">
            <img
              src="https://i.postimg.cc/5y14XWFZ/Pantherenigme3.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
