<div class="bars">
  <div class="bar one"></div>
  <div class="bar two"></div>
  <!-- Social Icons on the header -->
  <div class="social-header">
    <a href="#">
      <img
        class="icon"
        src="../../../assets/icons/icon_facebook.png"
        alt="facebook icon"
      />
    </a>
    <a href="#">
      <img
        class="icon"
        src="../../../assets/icons/icon_instagram.png"
        alt="instagram icon"
      />
    </a>
    <a href="#">
      <img
        class="icon"
        src="../../../assets/icons/icon_twitter.png"
        alt="twitter icon"
      />
    </a>
    <a href="#">
      <img
        class="icon"
        src="../../../assets/icons/icon_tiktok.png"
        alt="tiktok icon"
      />
    </a>
  </div>
</div>
