<section id="hero-wakanda">
  <div class="container">
    <div class="content">
      <h1>wakanda forever</h1>
      <h3>wakanda forever</h3>
      <p>
        Situé en Afrique subsaharienne, à l'ouest de l’Éthiopie et au nord du
        Kenya, ce petit royaume, longtemps caché aux autres nations du monde,
        est notamment connu pour posséder un gisement naturel du métal de
        fiction le vibranium ainsi que pour son dirigeant, le monarque et
        super-héros appelé la Panthère noire.
      </p>
    </div>
  </div>
</section>
