@import '../../../assets/styles/base/colors';
@import '../../../assets/styles/base/typo';

#hero-wakanda {
  background-image: url(https://i.postimg.cc/fy435PSK/Pantherwakanda1.png);
  background-position: center;
  background-size: cover;
  background-color: $body-bg-1;
  background-repeat: no-repeat;
  min-height: 100vh;
  .content {
    position: absolute;
    top: 40%;
    padding-left: 115px;
    display: flex;
    flex-direction: column;
    width: 40%;
    h1,
    h3 {
      color: $color-snuff;
      font-weight: lighter;
    }
    h1 {
      font-family: 'beyno';
      font-size: 40px;
    }
    h3 {
      font-family: 'wakanda forever';
      font-size: 40px;
      margin-bottom: 20px;
    }
    p {
      font-family: 'Cantarell';
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
}