<footer>
  <div class="container">
    <div class="logos">
      <div class="circles">
        <img src="../../../assets/branding/circles.png" alt="circles group" />
      </div>
      <div class="branding">
        <img
          src="../../../assets/branding/icon_SaynaXMarvel.png"
          alt="branding logo"
        />
      </div>
    </div>
    <div class="footer-content">
      <div class="links">
        <div class="sitemap">
          <h3>PAGES</h3>
          <ul>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="wakanda">wakanda</a></li>
            <li><a routerLink="enigme">énigme</a></li>
            <li><a routerLink="eshop">Eshop</a></li>
            <li><a routerLink="moncompte">Mon compte</a></li>
          </ul>
        </div>
        <div class="social-links">
          <h3>RETROUVEZ-NOUS</h3>
          <div class="icon">
            <img
              src="../../../assets/icons/icon_facebook_footer.png"
              alt="facebook icon"
            /><img
              src="../../../assets/icons/icon_instagram_footer.png"
              alt="instagram icon"
            /><img
              src="../../../assets/icons/icon_twitter_footer.png"
              alt="twitter icon"
            /><img
              src="../../../assets/icons/icon_tiktok_footer.png"
              alt="tiktok icon"
            />
          </div>
        </div>
      </div>
      <div class="copyright">
        <p>
          2022 Tous droits réservés <i class="fa fa-circle"></i> Politique de
          confidentialité <i class="fa fa-circle"></i> Conditions d'utilisation.
        </p>
      </div>
    </div>
  </div>
</footer>
