/* You can add global styles to this file, and also import other style files */
@import './assets/styles/base/colors';
@import './assets/styles/base/typo';

button {
  font-family: 'beyno';
  font-weight: bolder;
  padding: 10px;
  border: none;
  background: $color-plum;
  color: $color-black;
  &:hover {
    background: $color-white;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: 'smooth'
}

.container {
  width: 80%;
  margin: 0 auto;
}

body {
  background: $body-bg-1;
  color: $color-white;
  font-family: 'panthera';
}

.logo {
  &:hover {
    -webkit-filter: brightness(.5);
    filter: brightness(.5);
    transform: scale(1.2);
    filter: drop-shadow(0 0 20px red);
  }
}

p {
  text-align: justify;
  color: $color-white;
  font-family: 'cantarell';
}